name: ci

"on":
  pull_request:
    paths-ignore:
      - "**/*.md"
  push:
    paths-ignore:
      - "**/*.md"
  schedule:
    - cron: 0 2 * * 0

env:
  HOMEBREW_NO_AUTO_UPDATE: 1

jobs:
  lint:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15
          - macos-26

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install linting tools
        run: brew install shellcheck yamllint markdownlint-cli2

      - name: shellcheck
        run: shellcheck mac

      - name: yamllint
        run: yamllint .

      - name: markdownlint-cli2
        run: markdownlint-cli2 "**/*.md"

  test:
    runs-on: ${{ matrix.os }}
    needs:
      - lint

    env:
      EMAIL: test@1000bulbs.com

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15
          - macos-26

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Uninstall homebrew
        run: |
          NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/uninstall.sh)"

      - name: Uninstall apps
        run: |
          rm -Rf \
            "/Applications/1Password.app" \
            "/Applications/Docker.app" \
            "/Applications/Google Chrome.app" \
            "/Applications/iTerm.app" \
            "/Applications/Rectangle.app" \
            "/Applications/Slack.app"

      - name: Test
        run: sh mac
